<!DOCTYPE html>
<html>
<head>
  <title>App Store - Persona</title>
		<link rel="shortcut icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>"/>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="container-fluid">
			<%= image_tag "sf-logo.png", :class => "pull-left", :style => "height: 37px; width: auto; margin: 3px;" %>
				<div class="navbar-header">
					<%= link_to "Persona App Store", root_path, :class => "navbar-brand" %>
				</div>
				<% if user_signed_in? %>
					<ul class="nav navbar-nav navbar-right pull-right"> 
						<li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					</ul>
				<% else %>
				<ul class="nav navbar-nav navbar-right pull-right"> 
					<li><%= link_to "Register", new_user_registration_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
				</ul>
				<% end %>
			</div>
		</div>
	</div>
	<p class="notice container"><%= notice %></p>
	<p class="alert container"><%= alert %></p>
<%= yield %>
</body>
</html>
